/* web font */
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;&display=swap');
=======
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,600;1,300;1,600&display=swap');
>>>>>>> branch 'main' of https://github.com/chickencoc/RGBpepero_Semi_project.git
/* 
-- Kor / Eng --
font-family: 'Hahmlet', serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Nanum Gothic', sans-serif;

-- Eng Only --
font-family: 'Raleway', sans-serif;
*/

/* default setting */
* {margin:0; padding:0; box-sizing:border-box; font-family: 'Hahmlet', serif;}
html, body {font-size:16px; line-height:1.5;}
a, a:link, a:visited, a:hover {color:inherit; text-decoration:none;}
input {outline:0; border-radius:4px; padding:5px;}
input[type=text].text1 {border: 2px solid #363636;}
input[type=text].search {border: 5px solid #363636; border-top-right-radius: 0; border-bottom-right-radius: 0;}
input[type=radio] {appearance: none; border: 2px solid #363636; border-radius: 2px; background-color: transparent; transition: background-color 0.4s;}
input[type=radio]:checked {background-color: #363636; }
button {border: none; padding: 0 20px; vertical-align: middle; font-weight: 600;  font-size: 16px;}
button.btn1 {background-color: #363636; color: white; border-radius: 6px;}
button.searchM {background-color: #363636; color: white; line-height: 1.7;}
button.searchR {background-color: #363636; color: white; border-top-right-radius: 4px; border-bottom-right-radius: 4px; line-height: 1.7;}
select {outline:0; border-radius:4px; border-width:1px; padding:4px; margin-left:35px; width: 120px; text-align: center;}
select.slt1 {border: 3px solid #363636; font-weight: 600;  font-size: 15px; }

ol, ul ,li {list-style:none;}
h1, h2, h3, h4, h5, h6 {font-size: medium;}

/* header */
#header { min-width: 1240px; width: 100%; height: 120px; border-bottom: 1px solid #ddd; background-color: white;}
.loginbox { padding-top: 15px; font-size: 14px; font-weight: 600; color: rgb(43, 43, 43); } 
.loginbox ul { display: flex; justify-content: right; margin-right: 70px; } 
.loginbox ul li { margin-right: 10px; } 
.loginbox ul li::after { content: ''; display: inline-block; width: 5px; height: 5px; background: #D7B994; border-radius: 50%; position: relative; top: -3px; margin-left: 7px; } 
.loginbox ul li:last-child:after { display: none; } 
.logobox { text-align: center; } 

/* footer */
<<<<<<< HEAD
#footer { margin-top:150px; margin-bottom:0; background-color: #363636; min-width: 1240px; width:100%; height:130px; display:flex; align-items:center;}
=======
#footer { margin-top:150px; margin-bottom:0; background-color: #363636; width:100%; height:130px; display:flex; align-items:center;}
>>>>>>> branch 'main' of https://github.com/chickencoc/RGBpepero_Semi_project.git
.footer_ul { display: flex;}
.footer_ul > li { height: 34px; line-height: 34px;}
.footer_ul > li > * {margin: 0 12px;}
.footer_ul > li > img { height: 34px;margin-left: 85px;}
.footer_ul > li > a { color: white;}
.footer_ul > li:not(:is(:first-child, :last-child)):after { content: ''; background: rgba(255, 255, 255, 0.1); position: relative; width: 2px; height: 14px; display: inline-block; top: 2px; } 

/* wrapper */
#wrapper {max-width:1240px; min-height:calc(100vh - 420px); margin:0 auto; padding:0 20px;}


/* #header {position: fixed; z-index: 99; top: 0;}
body { padding-top: 120px;} */
