.container { margin: auto; width: 100%; min-height: 100vh; margin-top: 70px; }
.guestRegistBox { margin: auto; width:750px; border: 0px; border-radius:10px; padding:20px 10px; height:670px;position:relative;box-shadow: 0px 0px 5px 0px #555;font-size: 1.2em; } 
.guestRegistBox :is(input, select) { height: 35px;}
.guestRegistTitle { font-size:1.2em; margin:10px; background-color: white; } 

.findIdTextBox { width:100%;margin:10px; } 
.guestRegistBtn { width:35%;height:35px; } 
.guestRegistListQ {width:12%;position: absolute;left:10%;top:5%;border-right:1px solid #ccc}
.guestRegistListA {width:70%;position: absolute;right:5%;top:5%; } 
.guestRegistList { width: 464px; height:75px; line-height: 75px;}
.findIdCheck {text-align: center;}
.guestRegistryCheckBtn {width:80%;margin-top:30px;position: absolute;left:9%;bottom:10%;height:40px; } 

.guestRegistEmailBox {width:25%;margin:10px; } 
.guestPhoneText { width:24.5%;margin:10px;} 
.guestRegistryAddr {width:25%; margin:10px; } 
.guestRegistryAddrDetail {width:100%;margin:10px; } 
.guestRegistBanner {margin:auto; width:750px;; position: relative;margin-bottom:50px; } 
#guestRegistBannerImg { width:100%; height:185px; vertical-align: middle;background-color: #555; object-fit: cover; } 
.guestRegistBannerText { position: absolute; top:40%; left:50%; transform: translate(-50%, -30%); text-align: center; background-color: rgba(0, 0, 0, 0.301); height:50%; display: flex; flex-direction: column; justify-content: center; width:70%}
.guestRegistBannerText p { margin: auto; color:white; font-size:1.8em; } 