.container{
    margin: auto;
    width: 1150px;
    height: 1150px;
    text-align: center;
}

.scroll{
    margin: 10px;
}

.btn{
    margin: 10px;
}
.profileImg_List{
    display: grid;
    grid-template-columns: 100px;
    position: relative;
    top: 150px;
    left: 30px;
}
.profileImg_List1{
    display: grid;
    grid-template-columns: 100px;
    position: relative;
    top: 150px;
    left: 30px;
}

.profileImg1{
    position: absolute;
}

.productList_Img{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    align-items: center;
    justify-items: center;
    row-gap: 100px;
    position: relative;
    top: 100px;
    left: 170px;
}
.productList_Img1{
    /* display: none; */
    display: grid;
    grid-template-columns: 800px;
    align-items: center;
    justify-items: center;
}
.product1{
    position: relative;
    top: 35px;
    right: 70px;
}
.searchImg1{
	position: relative;
	bottom:25px;
}
.searchImg2{
	position: relative;
	bottom:20px;
}
.giftList{
    line-height: 30px;
}
.giftList1{  
    line-height: 30px;
    position: relative;
    bottom: 90px;
    left: 350px;
}

.list{
    position: relative;
    bottom: 100px;
}
.list_1{
    position: relative;
    bottom: 95px;
}
.list1{
    position: relative;
    top: 10px;
    left: 5px;
    width: 30px;
    height: 30px;
}
.arrow{
    position: relative;
    top: 5px;
    left: 10px;
}
.arrow1{
    width: 20px;
    height: 20px;
}
.arrow2{

    width: 20px;
    height: 20px;
}
.number{
    position: relative;
    bottom: 5px;
}
.btn2{
margin: 20px;
}
#scroll1{
    margin: 10px;
}
.gift{
    box-shadow: 1px 1px 10px;
}
.gift1{
    position: relative;
    top: 20px;
    left: 70px;
}
.id{
    position: relative;
    left: 25px;
}
.id1{
    position: relative;
    left: 25px;
    top: 5px;
}
.text{
    margin-top: 15px;
    margin-right: 100px;
}
.text1{
	position: relative;
	top:25px;

}
.text2{
    position: relative;
    left: 200px;
}
.fundingImg{
    position: relative;
    top: 2px;
    width: 30px;
    height: 30px;
}
.fundingImg1{
    position: relative;
    left: 20px;
    width: 30px;
    height: 30px;
}
.gname{
    position: relative;
    right: 110px;
    bottom: 20px;
}
.gname1{ 
    position: relative;
    bottom: 20px;
    left:50px;
}
.content{
    position: relative;
    right: 140px;
    top: 20px;
}
.check{
    position: relative;
    right: 150px;
}
.check1{
    position: relative;
    left: 480px;

}
.check2{
    position: relative;
    left: 550px;

}
.check3{
    position: relative;
    left: 650px;

}
.check4{
    position: relative;
    left: 750px;

}
.check5{
    position: relative;
    left: 115px;
}
.check6{
    position: relative;
    left: 205px;
}
.check7{
    position: relative;
    left: 270px;
}
.checkbox{
    position: relative;
    bottom: 35px;
    right: 110px;
}
.line{
    position: relative;
    left: 400px;
    width: 1300px;
    
}
.line1{
    position: relative;
    left: 400px;
    width: 1300px;
}
img{
width: 150px;
height: 150px;
}
.page{
    display: grid;
    grid-template-columns: 500px;
    position: relative;
    top: 200px;
    left: 350px;
    row-gap: 20px;
}
.page1{
    display: grid;
    grid-template-columns: 500px;
    position: relative;
    top: 150px;
    left: 350px;
    row-gap: 20px;
}