
p{
    margin-bottom: 10px;
}
.return_gift_content{
    display: grid;
    grid-gap: 5px;  
    grid-template-columns: 10% 80% 10%;
    width:1240px;
}
.return_gift_container{
    display: grid;
    place-items: center;
    grid-column-start: 2;
}
.return_gift_main{
    grid-column-start: 2;    
} 
.return_gift_container{
    display: grid;
    justify-content: center;
    width: 1000px;
}
.return_gift_list_menu{
    display: flex;
    justify-content: center;
    width:1240px;
}
.return_gift_list_menu > a:not(:last-child):after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 15px;
    background: #AAAAAA;
    position: relative;
    top: 2px;
    margin-left: 13px;
    
}
.return_gift_list_menu > a {
    margin: 0 5px;   
}
.return_gift_banner_container{
    overflow: hidden;
    margin:0; padding: 0; box-sizing: border-box;
}
ul, li{list-style: none;}

[name="slide"] {display: none;}
.slidebox { max-width: 100vw; width: 100%; margin: 0 auto;}
.slidebox img {max-width: 100%;}
.slidebox .slidelist {
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}
.slidebox .slideitem {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;  
    height: 500px;  
}
.slidebox .slideitem label{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}
label.left{
    left: 20px;
    background-color: #AAAAAA;
    background-image: url('../image/icon/fi-sr-angle-left.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
}
label.right{
    right: 20px;
    background-color: #AAAAAA;
    background-image: url('../image/icon/fi-sr-angle-right.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
}
[id="slide1"]:checked ~ .slidelist .slideitem {transform: translateX(0); animation: slide1 20s infinite;}
[id="slide2"]:checked ~ .slidelist .slideitem {transform: translateX(-100%); animation: slide2 20s infinite;}
[id="slide3"]:checked ~ .slidelist .slideitem {transform: translateX(-200%); animation: slide3 20s infinite;}
[id="slide4"]:checked ~ .slidelist .slideitem {transform: translateX(-300%); animation: slide4 20s infinite;}
@keyframes slide1 {
    0% {left:0%;}
    23% {left:0%;}
    25% {left:-100%;}
    48% {left:-100%;}
    50% {left:-200%;}
    73% {left:-200%;}
    75% {left:-300%;}
    98% {left:-300%;}
    100% {left:0%;}
}
@keyframes slide2 {
    0% {left:0%;}
    23% {left:0%;}
    25% {left:-100%;}
    48% {left:-100%;}
    50% {left:-200%;}
    73% {left:-200%;}
    75% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}
@keyframes slide3 {
    0% {left:0%;}
    23% {left:0%;}
    25% {left:-100%;}
    48% {left:-100%;}
    50% {left:200%;}
    73% {left:200%;}
    75% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}
@keyframes slide4 {
    0% {left:0%;}
    23% {left:0%;}
    25% {left:300%;}
    48% {left:300%;}
    50% {left:200%;}
    73% {left:200%;}
    75% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}
.return_gift_select{
    align-items: center;
    position: relative;
    left: 450px;
}
.return_gift_select_bar{
    width: 100px;
    margin-left: 0px;
}
#return_gift_menu_txt{
    width: 100px;
    font-size: 30px;
    text-align: center;
    margin: 20px;
}
.return_gift_search{
    display: flex;
    align-items: center;
    position: relative;
    right: 300px;
    margin-top: 20px;
}
#return_gift_input_txt{
    width: 250px;
}
#return_gift_searchBtn{
    width: 60px;
    height: 35px;
}
#return_gift_resetBtn{
    width: 60px;
    height: 35px;
}
.return_gift_listbox{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);   
}
.return_gift_list_item{
    width: 300px;
    height: 400px;   
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    margin: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
}
.return_gift_list_item_image{   
    display: block;
    width: 280px;
    height: 240px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    background-color: lightpink; /*크기 확인용*/
}
.return_gift_list_item_info{
    width: 270px;
    height: 100px;
    display: grid;
}
.return_gift_list_item_name{
    font-size: 14px;
}
.return_gift_list_item_price{
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}
.return_gift_list_item_explain{
    font-size: 10px;
    color: #999;
    margin-top: 5px;
}
.return_gift_pagechange{
    text-align: center;
    margin: 20px;
}
#return_gift_pagechange_icon{
    width: 10px;
    height: 10px;
}