#wrapper{
    width: 1200px;
}
/* 검색창 */
.itemSearchBox { display: flex; align-items: center ; justify-content: center; margin-top: 50px; }
.itemSearchBox > .itemSearchBar { height: 40px; margin: 0; }
.itemSearchBox > input.search { width: 300px; padding: 0 20px; }
.itemSearchBox > .listStyleBtns > .listStyleImg { width: 35px; height: 35px; background-color: #555;}
.itemSearchBox > .listStyleBtns { margin-left: 9px; width: 75px; display: flex; justify-content: space-around;}

/* content */
.giftContentBox { display: grid; place-items: center;}
.giftContentBox > .profileBox { text-align: center; padding-top: 120px; }
.giftContentBox > .profileBox > img { width: 100px; height: 100px; border-radius: 50%;}

/* grid */
.giftContentBox > .giftListBox { width: 1020px; padding: 50px 20px;}
.giftContentBox > .giftListBox > .giftDetailBox1 { display: grid; grid-template-columns: repeat(3, 1fr); place-items: center; grid-gap: 25px;}
.giftContentBox > .giftListBox > .giftDetailBox1 > .giftDetail { width: 300px; height: 400px; box-shadow: 0 2px 5px rgba(0, 0, 0, .1); border-radius: 5px; margin: 10px; overflow: hidden; justify-content: center;
                                                                display: flex; align-items: center; flex-direction: column; transition: all 0.3s;}
.giftContentBox > .giftListBox > .giftDetailBox1 > .giftDetail label { margin-bottom: 15px; cursor: pointer; }
.giftContentBox > .giftListBox > .giftDetailBox1 > .giftDetail label:hover { font-weight: bold; }
.giftContentBox > .giftListBox > .giftDetailBox1 > .giftDetail .giftList div {margin: 6px 0px; }
.giftContentBox > .giftListBox > .giftDetailBox1 > .giftDetail img { width: 260px; height: 180px; }
.giftContentBox > .giftListBox > .giftDetailBox1 > .giftDetail .giftList > label { margin-top: 10px}
.giftContentBox > .giftListBox > .giftDetailBox1 > .giftDetail .giftList > input { appearance: none;}

#giftListName{ font-size: 20px; font-weight: 500;}
#giftListGuest{ font-size: 18px;}

.lablefontbold { font-weight: bold; }
.divBackgroundChange { background-color: #ebebeb; box-shadow: 0px 0px 5px #999;}

/* list */
.giftContentBox > .giftListBox > .giftDetailBox2 { width: 100%; border-collapse: collapse }
.giftContentBox > .giftListBox > .giftDetailBox2 .giftDetailHead { height: 50px;}
.giftContentBox > .giftListBox > .giftDetailBox2 :is(.giftDetailHead, .giftDetailList:last-child ) { border-bottom: 2px solid #AAAAAA; }

.giftContentBox > .giftListBox > .giftDetailBox2 .giftDetailList { height: 180px; }
.giftContentBox > .giftListBox > .giftDetailBox2 .giftDetailList:not(:last-child) { border-bottom: 1px solid #AAAAAA; }
.giftContentBox > .giftListBox > .giftDetailBox2 .giftDetailList img { width: 100px; height: 100px; }

.giftContentBox > .giftListBox > .giftDetailBox2 .giftDetailList td:not(:nth-child(3)) { text-align: center;}
.giftContentBox > .giftListBox > .giftDetailBox2 .giftDetailList .giftDetailList_check { width: 45px; }
.giftContentBox > .giftListBox > .giftDetailBox2 .giftDetailList .giftDetailList_text > .giftContent { margin-top: 13px;}

/* pagenation */
.giftContentBox > .giftListBox > .pagenation { margin-top: 60px; text-align: center;}
.giftContentBox > .giftListBox > .pagenation .arrowBox { display: flex; justify-content: center; }
.giftContentBox > .giftListBox > .pagenation .pageNumber { padding: 0 10px; }
.giftContentBox > .giftListBox > .pagenation img { width: 24px; height: 24px;}

/* returnGift btn */
.giftContentBox > .giftListBox > .pagenation > .returnGiftBtnBox { margin: 30px 0; }
.giftContentBox > .giftListBox > .pagenation > .returnGiftBtnBox > button { width: 150px; height: 34px; margin: 0 10px; }

.pagination { margin:24px; display: inline-flex; position: relative; top: 20px; margin-top: 100px;} 
ul { text-align: center; } 
.pagination li { min-width:32px; padding:2px 6px; text-align:center; margin:0 3px; border-radius: 6px; border:1px solid #eee; color:#666; display : inline; } 
.pagination li:hover { background: #E4DBD6; } 
.page-item a { color:#666; text-decoration: none; } 
.pagination li.active { background-color : rgb(222,199,172); color:#fff; } 
.pagination li.active a { color:#fff; } 