.container{
    margin: auto;
    /* border: 1px solid black; */
    width: 1100px;
    height: 1150px;
    text-align: center;
    margin-top: 80px;
}
.cardImg_list{
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 100px;
    grid-template-columns: 1fr 1fr 1fr;
}
img{
    width: 150px;
    height: 150px;
    background-color: gary;
}
.mainCard{
   width: 80%;
   height: 400px;
   background-color: gray;
   box-shadow: 2px 2px 15px 1px;
}
.scroll{
    float: right;
    margin-top: 50px;
    margin-right: 120px;
}
.cardThumbnail{
    margin: 30px;
    box-shadow: 1px 1px 5px;
}

.cardList{
    line-height: 30px;
}
.arrow{
    margin-top: 10px;
    margin-left: 2px;
}
.arrow1{
    margin-right: 15px;
    width: 20px;
    height: 20px;
}
.arrow2{
    margin-left: 15px;
    width: 20px;
    height: 20px;
}
.number{
    position: relative;
    bottom: 5px;
}
.page{
    margin-top: 20px;    
}
.cardBox img{
    margin: 40px 0px;
}
.card_cat{
    position: absolute;
    margin-left: 850px;
}