.container{
    margin: auto;
    /* border: 1px solid black; */
    width: 1200px;
    text-align: center;
   	display: grid;
    place-items: center;
}
.cardImg_list{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
}
.cardBox{
    width: 1000px;
    height: 500px;
    overflow: hidden;
    margin:0; 
    padding: 0; 
    box-sizing: border-box;
    margin: 30px 0px;
}
.mainCard{
   width: 100%;
   height: 500px;
   object-position: center;
   object-fit: cover;
}
#cardTitle{width: 100%; display: flex; align-items: center; justify-content: center; font-size: 35px; font-weight: 700;}
.scroll{
    position: relative;
    left: 420px;
    top: 10px;
    margin-bottom: 30px;
}
.cardThumbnail{
	width: 300px;
    height: 400px;   
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    margin: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.cardList1{
    width: 270px;
    height: 100px;
    display: grid;
    margin-top: 30px;
}
.arrow{
    margin-top: 10px;
    margin-left: 2px;
}
.arrow1{
    margin-right: 15px;
    width: 20px;
    height: 20px;
}
.arrow2{
    margin-left: 15px;
    width: 20px;
    height: 20px;
}
.number{
    position: relative;
    bottom: 5px;
}
.page{
    margin-top: 20px;    
}
.card{   
    display: block;
    width: 280px;
    height: 240px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    background-color: lightpink; /*크기 확인용*/
}
.return_gift_list_menu{
    display: flex;
    justify-content: center;
    width:1200px;
}
.return_gift_list_menu > a:not(:last-child):after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 15px;
    background: #AAAAAA;
    position: relative;
    top: 2px;
    margin-left: 13px;
    
}
.return_gift_list_menu > a {
    margin: 0 5px;   
}
.registryAddr{
	width:20%;
}
/* 페이징 추가 */
.pagination {

    display: inline-flex;
    margin-top: 30px;
}
ul {
    text-align: center;
}
.pagination li {
    min-width:32px;
    padding:2px 6px;
    text-align:center;
    margin:0 3px;
    border-radius: 6px;
    border:1px solid #eee;
    color:#AAAAAA;
    display : inline;
}
.pagination li:hover {
    background: #E4DBD6;
}
.page-item a {
    color:#666;
    text-decoration: none;
}
.pagination li.active {
    background-color : #E7AA8D;
    color:#fff;
}
.pagination li.active a {
    color:#fff;
}