
#wrapper{
    height:1300px;
}
img{
    background-color: #999;
}
.prodListWord{
    text-align: center;
    font-size: 1.5em;
    margin:5%;
}
.container{
    margin:auto;
    width:1000px;
    height:1300px;
    text-align: center;
}
.prod1Banner{
    width:100%;
    position: relative;
}
#bannerImg{
    width:100%;
    height:300px;
    vertical-align: middle;
}
.bannerText{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -30%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.301);
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:70%
}

.bannerText p {
    margin: auto;
    color:white;
    font-size:2.0em;
}
.searchBox{
    text-align: center;
    margin-top:4%;
    height: 50px;
}
.searchBar{
    width:50%;
    height:80%;
}
.prodBtn{
    width:10%;
    height:80%;
}
.prodSelectBox{
    text-align: right;
    margin:2%;
}
.prodListBox{
    height: 720px;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    height: 500px; */
}
.prodBox{
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    width:100%;
    border: 1px solid black;

}
.prod1Img{
    width:80%;
    height:50%;
}
.prodName{
    font-size:1.2em;
    margin-top:5%;
}
.prodPrice{
    margin-top:5%;
}
.prodLike{
    margin-top:5%;
}
.prodLikeImg{
    width:25%;
}
.pageList{
    text-align: center;
    /* position:relative; */
    /* bottom:5%; */
    /* margin-top: 400px; */
}
.pageListNum{
    width:5%;
    margin-top:5%;
    margin-right:2%;
}
.prodList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    height: 500px;
}
.prodCategoryList > a:not(:last-child):after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 15px;
    background: #999;
    position: relative;
    top: 2px;
    margin-left: 13px;
   }
.prodCategoryList > a {
    margin: 0 5px;
   }
   .pagination {
    margin:24px;
    display: inline-flex; 
}
ul {
    text-align: center;
}
.pagination li {
    min-width:32px;
    padding:2px 6px;
    text-align:center;
    margin:0 3px;
    border-radius: 6px;
    border:1px solid #eee;
    color:#666;
    display : inline;
}
.pagination li:hover {
    background: #E4DBD6;
}
.page-item a {
    color:#666;
    text-decoration: none;
}
.pagination li.active {
    background-color : rgb(222,199,172);
    color:#fff;
}
.pagination li.active a {
    color:#fff;
}