.container{
    margin: auto;
    width: 800px;
    min-height: 100vh;
}
.findPageLogo{
	text-align:center;
	margin: 50px;
}
.findIdBox{
	margin: auto;
	width:450px;
	border: 1px solid black;
	border-radius:10px;
	padding:20px;
}
.findIdBox .findIdMent{
	font-size:1.5em;
	margin:10px;
	font-weight:bold;
}

.findIdTextBox{
	width:65%;
	font-size:1.0em;
	border-radius: 10px;
	border:1px solid #ccc;
	margin:10px;
}
.findIdBtn{
	font-size:1.0em;
	margin:2%;
}
.findIdNotice{
	text-align:center;
	color:red;

}
.findIdCheck{
	text-align:center;
}
.findIdCheckBtn{
	width:20%;
	border-radius:20px;
	margin-top:30px;
}