.container{
    margin: auto;
    border: 1px solid black;
    width: 1100px;
    height: 1150px;
    text-align: center; 
}
.productList{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px;
    align-items:center;
    justify-items: center;
}
.productList1{
    grid-column-start: 1;    
    grid-row-start: 2;
    position: relative;
    left: 300px;
}
.orderList_img{
    position: relative;
    left: 50px;
}
.orderList_detail{
    grid-column-start: 2;    
    grid-row-start: 1;
    border: 1px solid black;
    position: relative;
    bottom: 150px;
    left: 50px;
    height: 150px;
    width: 350px;
    line-height: 50px;
    text-align: left;
}
.orderList1{
    margin-left: 20px;
}
img{
    width: 150px;
    height: 150px;
    background-color: gray;
}
.list{
    margin-top: 20px;
}
.returnGift{
    font-weight: bold;
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.productMain{
    width: 300px;
    height: 300px;
}
#order{
    width: 200px;
    margin-left: 20px;
}
.personList{
    border: 1px solid black;
    position: relative;
    left: 50px;
    width: 350px;
    height: 130px;
    grid-column-start: 2;    
    grid-row-start: 1;
}
.person{
    float: left;
    position: relative;
    left: 20px;
    top: 20px;   

}
.person1{  
    height: 60px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid black;
    position: relative;
    left: 100px;
    top: 25px;
}

.btn{
    width: 150px;
    grid-column-start: 1;    
    grid-row-start: 2;
    position: relative;
    top: 150px;
    left: 300px;
}
.line{
    position: relative;
    bottom: 200px;
    width: 900px;
}
.line1{
    position: relative;
    top: 100px;
}
.text{
    position: relative;
    text-align: left;
    bottom: 180px;
}