.container{
            margin: auto;
            width: 1200px;
            height: 900px;   
        }
        .container .grid_Area1{
            display: grid;
            grid-template-columns: 600px 400px;
            grid-gap : 30px;
            padding: 20px;
        }
        .imgGrid #main_Img{
            width: 100%;   
            margin-top: 10px;  
            border: 1px outset black;
            background-color: gray;
            height: 300px;
        }
        .thumb_Nails{
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr; 
            grid-gap: 1rem;
            margin-left: 10px;
           
        }
        .thumb_Nails img{
            width: 170px;
            height: 100px;
            margin-top: 20px;
            background-color: gray;
            cursor: pointer;
            border: 1px outset black;
        }
        .field_Area .product_Explane{
            line-height: 40px;
            padding: 20px;
            margin-bottom: 10px;
            width: 500px;
        }
        .field_Area .customer_Explane{
            width: 500px;
            padding: 20px;
            line-height: 40px;
        }
       .customer_Explane .customer_Box{
        border: 1px solid black;
        width: 450px;
        height: 150px;
        overflow: scroll;
       }
       .thxCard_title{
        text-align: center;
        font-size: 3rem;
        margin: 20px;
       }
       .card_Spoil_Title{
        font-size: 2rem;
    
       }
       .container .grid_Area2{
            display: grid;
            grid-template-columns: 700px 300px;
            grid-gap : 30px;
        }
        .option_Box{
            display: grid;
            grid-template-columns: 120px 120px 120px; 
            margin-right: 10px;
            width: 600px;
            grid-gap: 10px;
            margin-top: 20px;
        }
        .hr_Line{
            text-align: center;
            width: 1150px;
        }
        .container .grid_Area3{
            display: grid;
            grid-template-columns: 500px 600px;
            grid-gap : 30px;
        }
        .thx_Card_Write{
            width: 500px;
            height: 286px;
            text-align:center;
            vertical-align:middle;
            position: relative;
           
            
        }
        
        .write_Txt .txt_To_Card{
            width: 620px;
            height: 250px;
            padding: 20px;
        }
        .send_Btn{
            text-align: center;
            margin-top: 30px;
        }
        .send_Btn #send_Card{
            color: white;
            background-color: black;
            width: 150px;
            height: 50px;

        }
        .ck-editor__editable { height: 210px; }
        .writedCard{
        width:1000px;
        z-index:1;
        position: absolute;
        top:12%;
        }
        .cardSampleImg{
        width:500px;
        height:286px;
        position:absolute;
        left:0%}