.container{
	width:1100px;
	margin:auto;
}
.registryLogo{
	text-align:center;
    margin : 50px;
}
.container .registryBox{
    width:1000px;
    height:1200px;
	margin:auto;
    padding:5%;
    box-shadow: 0px 0px 5px 0px #555;
    text-align:left;
    border-radius:10px;
    position:relative; 
}
.checkBtn{
    width:30%;
    margin-left: 5%;
    height:33px;
}
.registryBox .registryQ{
    position:absolute;
    width: 21%;
    border-right:1px solid #ccc;
    left:5%;
    top:3%;
    padding:3%;
    height: 80%;
    text-align: right;
    font-size: 1.25em;
}
.registryBox .registryA{
    position: absolute;
    width:64%;
    right:10%;
    padding: 3%;
    height:80%;
    top:3%;
    font-size: 1.2em;
}
.registryBox .registryQ .registryQList{
	width:100%;
	height:70px;
}
.registryBox .registryA .registryAList{
    width:100%;
	height:70px;
}
.registryNote{
	font-size:0.7em;
	margin:0px;
}
.registryId{
    width:60%;
}
.registryPwd{
    width:60%;
}
.registryBox .registryA .registryAList .registryName{
	width:30%;
    margin-right:20px;
}
.registryBox .registryA .registryAList .registryName2{
	width:30%;
    margin-right:20px;
    margin-left:20px;
}
.registryBox .registryA .registryAList .registryPhone{
	width:30%;
}
.registryBox .registryA .registryAList .registryEmail{
	width:25%;
}
.registryEmailAddr{
    width:35%;
}
.registryGender{
    margin-right:50px;
}
.registryBox .btnBox{
	text-align: center;
    width:100%;
    margin-top:30px;
}
.registryBox .registryBtn{
    width:20%;
    height:30px;
    margin-left:30px;
    margin-right:30px;
}
.registryAddrDetail{
    width:90%;
}
.registryEmailSelect{
    width:25%;
}
.registryAccount{
    width:65%;
    margin-left:5%;
}
.registTitle{
	font-size:2.0em;
	margin:10px;
	font-weight:bold;
	background-color: white;
}