<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="js/vue.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Base_rgbPepero.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/Registry.css">
    <title>회원가입 페이지</title>
    <style>
        /* style START */



        /* style END */
    </style>
</head>
<body>
    <!-- wrap START -->
    <div id="app">
        <div id="wrapper">
            <div class="container">
                <div class="registryLogo">
                    <a href=""><img src="/image/logo_Marrimo.png">
                </div></a>
                    <div class="registryBox">
                        <div class="registryQ">
                            <p class="registryQList">아이디*</p>
                            <p class="registryQList">비밀번호*</p>
                            <p class="registryQList">비밀번호 확인*</p>
                            <p class="registryQList">이름*</p>
                            <p class="registryQList">성별*</p>
                            <p class="registryQList">전화번호*</p>
                            <p class="registryQList">주소*</p>
                            <p class="registryQList">　</p>
                            <p class="registryQList">이메일*</p>
                            <p class="registryQList">생년월일*</p>
                            <p class="registryQList">결혼예정일</p>
                            <p class="registryQList">계좌번호*</p>
                        </div>
                        <div class="registryA">
                            <div class="registryAList">
                                <input type="text" class="registryId" v-model="id" @keyup="fnShow">
                                <button class="checkBtn"> 중복검사</button>
                                <div class="registryNote idCheck" id="idNotice">영어와 숫자 포함 8~20 글자</div>
                            </div>
                                <div class="registryAList">
                                    <input type="password" class="registryPwd" v-model="pwd" @keyup="fnShow">
                                    <div class="registryNote pwdCheck" id="pwdNotice">
                                        8~20글자, 영어 대소문자, 특수문자(!@#$%^&)가 모두 포함되어야 합니다.    
                                    </div>
                                </div>                      
                                <div class="registryAList">
                                    <input type="password" class="registryPwd" v-model="pwdCheck" @keyup="fnShow">
                                    <div class="registryNote pwd2Check" id="pwdNoticeCheck">
                                        비밀번호가 일치하지 않습니다.
                                    </div>
                                </div>       
                                <div class="registryAList">
                                    <input type="text" class="registryName" v-model="name"> 
                                    배우자 이름 <input type="text" class="registryName2" v-model="name2"> 
                                </div>
                                <div class="registryAList">
                                    <label class="registryGender">
                                        <input type="radio" name="gender" checked v-model="gender" value="M"> 남자 
                                    </label>
                                    <label class="registryGender" >
                                        <input type="radio"name="gender" v-model="gender" value="F"> 여자
                                    </label>
                                </div>
                                <div class="registryAList">
                                    <input type="text" class="registryPhone" v-model="phone1"> - 
                                    <input type="text" class="registryPhone" v-model="phone2"> - 
                                    <input type="text" class="registryPhone" v-model="phone3">
                                </div>
                                <div class="registryAList"><input type="text" class="registryAddr" disabled> 
                                    <button class="checkBtn">우편번호 검색</button>
                                </div>
                                <div class="registryAList">
                                    <input type="text" class="registryAddrDetail" placeholder="상세 주소 입력" v-model="addr2">
                                </div>
                                <div class="registryAList">
                                    <input type="email" class="registryEmail" v-model="email"> @ 
                                    <input type="text" class="registryEmailAddr" id="emailAddr" v-model="email2" :disabled="!isEmailAddrEditable">
                                    <select class="registryEmailSelect" id="emailSelect"  v-model="selectedEmailDomain" v-on:change="fnEmailSelectChanged">
                                        <option value="">직접 입력</option>
                                        <option value="naver.com">naver.com</option>
                                        <option value="daum.net">daum.net</option>
                                        <option value="gmail.com">gmail.com</option>
                                    </select>
                                </div>
                                <div class="registryAList">
                                    <select id="birthdayYear">
                                    </select> 년 
                                    <select id="birthdayMonth" >
                                    </select> 월
                                    <select id="birthdayDay" >
                                    </select> 일
                                </div>
                                <div class="registryAList">
                                    <select id="weddingYear">
                                        <option value="">::미정::</option>
                                    </select> 년
                                    <select id="weddingMonth" >
                                        <option value="">::미정::</option>
                                    </select> 월
                                    <select id="weddingDay">
                                        <option value="">::미정::</option>
                                    </select> 일
                                </div>
                                <div class="registryAList">
                                    <select v-model="bank">
                                        <option value="">::선택::</option>
                                        <option value="1">신한은행</option>
                                        <option value="2">기업은행</option>
                                        <option value="3">국민은행</option>
                                        <option value="4">농협은행</option>
                                        <option value="5">카카오뱅크</option>
                                        <option value="6">우리은행</option>
                                    </select>
                                    <input type="text" class="registryAccount" placeholder=" - 없이 입력" v-model="account">
                                </div>
                            <div class="btnBox">
                                <button class="registryBtn" @click="fnRegist">확인</button>
                                <button class="registryBtn">취소</button>
                            </div>
                        </div>    		
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var birthdayYear = document.getElementById('birthdayYear');
    var birthdayMonth = document.getElementById('birthdayMonth');
    var birthdayDay = document.getElementById('birthdayDay');
    
    // 현재 년도를 가져옴
    var currentYear = new Date().getFullYear();
    
    // 년도 option 태그 생성
    for (var i = 1900; i <= currentYear; i++) {
      var option = document.createElement('option');
      option.value = i;
      option.text = i;
      birthdayYear.appendChild(option);
    }
    
    // 월 option 태그 생성
    for (var i = 1; i <= 12; i++) {
      var option = document.createElement('option');
      option.value = i;
      option.text = i;
      birthdayMonth.appendChild(option);
    }
    
    // 일 option 태그 생성
    function updateDays() {
      // 선택한 월과 년도를 가져옴
      var month = birthdayMonth.value;
      var year = birthdayYear.value;
    
      // 선택한 월의 마지막 날짜를 구함
      var lastDay = new Date(year, month, 0).getDate();
    
      // 일 option 태그 초기화
      birthdayDay.innerHTML = '';
    
      // 일 option 태그 생성
      for (var i = 1; i <= lastDay; i++) {
        var option = document.createElement('option');
        option.value = i;
        option.text = i;
        birthdayDay.appendChild(option);
      }
    }
    
    // 월 선택 시 일 option 태그 업데이트
    birthdayMonth.addEventListener('change', updateDays);
    
    // 년도 선택 시 일 option 태그 업데이트
    birthdayYear.addEventListener('change', updateDays);
    
    // 현재 날짜로 생년월일 select 요소 초기화
    var currentMonth = new Date().getMonth() + 1;
    var currentDay = new Date().getDate();
    birthdayYear.value = currentYear;
    birthdayMonth.value = currentMonth;
    updateDays();
    birthdayDay.value = currentDay;
    
    var weddingYear = document.getElementById("weddingYear");
    var weddingMonth = document.getElementById("weddingMonth");
    var weddingDay = document.getElementById("weddingDay");
    
    var date = new Date();
    var currentYear2 = date.getFullYear();
    var currentMonth2 = date.getMonth() + 1;
    var currentDay2 = date.getDate();
    
    for (var i = currentYear2; i <= currentYear2 + 10; i++) {
        var option = document.createElement("option");
        option.value = i;
        option.text = i;
        weddingYear.appendChild(option);
    }
    
    for (var i = 1; i <= 12; i++) {
        var option = document.createElement("option");
        option.value = i;
        option.text = i;
        weddingMonth.appendChild(option);
    }
    
    var daysInMonth = new Date(weddingYear.value, weddingMonth.value, 0).getDate();
    for (var i = 1; i <= daysInMonth; i++) {
        var option = document.createElement("option");
        option.value = i;
        option.text = i;
        weddingDay.appendChild(option);
    }
    
    weddingYear.addEventListener("change", function() {
        var daysInMonth = new Date(weddingYear.value, weddingMonth.value, 0).getDate();
        while (weddingDay.options.length > 0) {
            weddingDay.options.remove(0);
        }
        for (var i = 1; i <= daysInMonth; i++) {
            var option = document.createElement("option");
            option.value = i;
            option.text = i;
            weddingDay.appendChild(option);
        }
    });
    
    weddingMonth.addEventListener("change", function() {
        var daysInMonth = new Date(weddingYear.value, weddingMonth.value, 0).getDate();
        while (weddingDay.options.length > 0) {
            weddingDay.options.remove(0);
        }
        for (var i = 1; i <= daysInMonth; i++) {
            var option = document.createElement("option");
            option.value = i;
            option.text = i;
            weddingDay.appendChild(option);
        }
    });
var app = new Vue({ 
    el: '#app',
    data: {
    	id : '',
    	pwd : '',
    	pwdCheck: '',
    	name: '',
    	name2 : '',
    	phone1 :'',
    	phone2 :'',
    	phone3 :'',
    	email :'',
    	email2 :'',
    	addr2 :'',
    	account : '',
        bank :'',
        gender: 'M',
        selectedEmailDomain: '',
    },
    computed: {
        isEmailAddrEditable() {
        return this.selectedEmailDomain === '';
    }
  }   
    , methods: { 	
    	fnRegist : function(){
            let getNumberCheck = /[0-9]/;
            let getNameCheck = /^[가-힣|a-z|A-Z]/;
    		var self = this;
				if(self.id == ''||
                self.pwd == ''||
                self.pwdCheck==''||
                self.name==''||
                self.email==''||
                self.email2==''||
                self.phone1==''||
                self.phone2==''||
                self.phone3==''||
                self.addr2==''||
                self.account==''||
                self.bank==''){
					alert("모든 정보를 입력해주세요.");
					}
                    else if(!getNameCheck.test(self.name)||!getNameCheck.test(self.name2)){
                        alert("이름이 정확하지 않습니다.")
                    }
                    else if(!getNumberCheck.test(self.phone1)||!getNumberCheck.test(self.phone2)||!getNumberCheck.test(self.phone3)){
					alert("전화번호는 숫자만 입력 가능합니다.");
				}else if(!getNumberCheck.test(self.account)){
                    alert("계좌번호는 숫자만 입력 가능합니다.")
                }

				// } else{
		    	// 		var nparmap = {id : self.id, 
				//     			pwd : self.pwd, 
				//     			name : self.name, 
				//     			nickname : self.nickname,
				//     			age : self.age,
				//     			gender : self.gender,
				//     			address : self.address};	
				// 		  	$.ajax({
				// 				url : "/regist.dox",
				// 				dataType : "json",
				// 				type : "POST",
				// 				data : nparmap,
				// 				success : function(data) {
									
				// 					console.log(data);
				// 					alert("회원가입 완료");
				// 					self.id='';
				// 					self.pwd='';
				// 					self.pwd2='';
				// 					self.name='';
				// 					self.age='';
				// 					self.gender='';
				// 					self.address='';
				// 					self.nickname='';
									
				// 					self.check=true;
				// 	        	   	$("#idBox").css("pointer-events", "auto");
				// 	    			$("#idBox").css("opacity", "1.0");
				// 					}
				// 				});
                // }
				}
		,fnShow : function(){
			var self = this;
			let getIdCheck = /^[a-zA-z0-9]{8,20}$/;			
    		if(!getIdCheck.test(self.id)){
    			$("#idNotice").css("color", "red");
    		}else{
    			$("#idNotice").css("color", "green");
    		}		
    		let getPwdCheck = /^(?=.*[!@#$%^&*])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).{8,20}$/;
    		if(!getPwdCheck.test(self.pwd)){
    			$("#pwdNotice").css("color","red");
    		} else{
    			$("#pwdNotice").css("color", "green");
    		}
    		
    		if(self.pwd != self.pwdCheck || self.pwdCheck==''){
    			$("#pwdNoticeCheck").css("color", "red");
    			$("#pwdNoticeCheck").text("비밀번호가 일치하지 않습니다.")
				} else{
					$("#pwdNoticeCheck").text("비밀번호가 일치합니다.")
	    			$("#pwdNoticeCheck").css("color", "green");
				}
		}
        , fnEmailSelectChanged() {
      if (this.selectedEmailDomain === '') {
        this.email2 = '';
      } else {
        this.email2 = this.selectedEmailDomain;
      }
    }
    }

    , created: function () {
    	var self = this;
    	self.fnShow();
	}
});
</script>