<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Base_rgbPepero.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/FindPwd.css">
    <title>비밀번호 찾기</title>
    <style>
        /* style START */



        /* style END */
    </style>
</head>
<body>
    <!-- wrap START -->
    <div id="wrapper">
        <div id="app">
            <div class="container">
                <div class="findPageLogo"><img src="/image/logo_Marrimo.png"></div>
                <fieldset class="findPwdBox" v-if="pwdFlg">
                    <legend class="findPwdMent">비밀번호 찾기</legend>
                    <div id="findPwd1"> 
                        <label>
                            <div class="findPwdList">
                                <input type="text" class="findPwdTextBox" placeholder="아이디 입력">
                            </div>
                        </label> 
                        <label>
                            <div class="findPwdList">
                                <input type="text" class="findPwdTextBox" placeholder="이름 입력">
                            </div>
                        </label> 
                        <label>
                            <div class="findPwdList">
                                <input type="text" class="findPwdTextBox" placeholder="이메일 입력">
                                <button class="findPwdBtn"> 인증번호 받기</button>
                            </div>
                        </label> 
                        <label>
                            <div class="findPwdList">
                                <input type="text" class="findPwdTextBox" placeholder="인증번호 6자리 입력">
                                <button class="findPwdBtn"> 인증번호 확인</button>
                            </div>
                        </label> 
                        <div class="findPwdNotice">이메일로 보내드린 인증번호를 확인해주세요.</div>
                        <div class="findPwdCheck"><button class="findPwdCheckBtn findPwdBtn" @click="fnPwd()">확인</button>
                            <a href="localhost:8080/findPwd.do"><button class="findPwdCheckBtn findPwdBtn">아이디 찾기</button></a>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="findPwdBox"v-if="!pwdFlg">
                    <legend class="findPwdMent">비밀번호 재설정</legend>
                        <div id="findPwd2">
                            <div class="findPwdList">
                                <input type="password" class="findPwdTextBoxAfter" placeholder="비밀번호 입력">
                            </div>
                            <div class="findPwdList">
                                <input type="password" class="findPwdTextBoxAfter" placeholder="비밀번호 확인">
                            </div>
                        <div class="findPwdCheck"><button class="findPwdCheckBtn findPwdBtn">확인</button></div>
                    </div>		
                </fieldset>
            </div>
        </div>
        
    </div>
    <!-- wrap END -->
    <!-- footer END -->
    <footer id="footer">&lt;footer&gt;</footer>
</body>
</html>
<script type="text/javascript">
    var app = new Vue({ 
        el: '#app',
        data: {
            pwdFlg : true
        }   
        , methods: {
            fnPwd : function(){
                var self =this;
                this.pwdFlg = false;
            }
        }   
        , created: function () {
            var self = this;
     
    
        }
    });
    </script>